@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }

  .eviloma-light {
      --background: 283 36% 98%;
      --foreground: 283 68% 2%;
      --muted: 283 13% 92%;
      --muted-foreground: 283 4% 37%;
      --popover: 283 36% 98%;
      --popover-foreground: 283 68% 2%;
      --card: 283 36% 97%;
      --card-foreground: 283 68% 1%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --primary: 283 93% 25%;
      --primary-foreground: 283 93% 85%;
      --secondary: 283 7% 90%;
      --secondary-foreground: 283 7% 30%;
      --accent: 283 15% 81%;
      --accent-foreground: 283 15% 21%;
      --destructive: 4 84% 36%;
      --destructive-foreground: 4 84% 96%;
      --ring: 283 93% 25%;
      --radius: 0.5rem;
  }

  .eviloma-dark {
      --background: 283 47% 2%;
      --foreground: 283 27% 98%;
      --muted: 283 13% 8%;
      --muted-foreground: 283 4% 63%;
      --popover: 283 47% 2%;
      --popover-foreground: 283 27% 98%;
      --card: 283 47% 3%;
      --card-foreground: 283 27% 99%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 283 93% 25%;
      --primary-foreground: 283 93% 85%;
      --secondary: 283 18% 12%;
      --secondary-foreground: 283 18% 72%;
      --accent: 283 25% 17%;
      --accent-foreground: 283 25% 77%;
      --destructive: 4 84% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 283 93% 25%;
    }

  .catppuccin-mocha {
    --background: 240 21% 15%;
    --foreground: 226 64% 88%;

    --card: 240 21% 15%;
    --card-foreground: 226 64% 88%;

    --popover: 240 21% 15%;
    --popover-foreground: 226 64% 88%;

    --primary: 267 84% 81%;
    --primary-foreground: 240 21% 15%;

    --secondary: 240 23% 9%;
    --secondary-foreground: 232 97% 85%;

    --muted: 237 16% 23%;
    --muted-foreground: 240 21% 15%;

    --accent: 237 16% 23%;
    --accent-foreground: 232 97% 85%;

    --destructive: 343 81% 75%;
    --destructive-foreground: 240 21% 15%;

    --border: 227 35% 80%;
    --input: 227 35% 80%;
    --ring: 227 35% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}